@{
    ViewData["Name"] = "Coonf";

}

<h1>About @ViewData["name"]</h1>
<p> 
    @ViewData["name"] is a technology provider for organizing meetings and events.
    our technology enables event planners and marketers to deliver amazing experiences and accelerate their success.
</p>